#sharedrive-container {
}

.content-area ul.sharedrive-file-window,
.content-area ul.sharedrive-item,
ul.sharedrive-file-window {
	padding: 0;
	margin: 0;
}

.content-area ul.sharedrive-file-window li,
ul.sharedrive-file-window li {
	list-style: none;
}

ul.sharedrive-item  {
	display: table;
	width: 100%;
}

ul.sharedrive-item:nth-child(odd) {
	background: #fff;
}
ul.sharedrive-item:nth-child(even) {
	background: #F8FBFF;
}

ul.sharedrive-file-window li.file-column {
	display: table-cell;
	width: 25%;
	padding:0 10px;
	font-size: 12px;
}

ul.sharedrive-file-window li.file-column.file-title { width: 55%; padding: 20px; position: relative; }
ul.sharedrive-file-window li.file-column.file-date { width: 25%; }
ul.sharedrive-file-window li.file-column.file-scope { width: 10%; }
ul.sharedrive-file-window li.file-column.file-owner { width: 10%; }

ul.sharedrive-file-window li.file-column.file-title h3 {
	margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
ul.sharedrive-file-window li.file-column.file-title h3 a { color: #444;	}
ul.sharedrive-file-window .directory li.file-column.file-title h3 a { color: #03A9F4;	}
ul.sharedrive-file-window li.file-column.file-owner .avatar { width: 32px; margin: 15px 0;}

/** Icons **/
ul.sharedrive-file-window li.file-column.file-title::before {
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f016";
    float: left;
    margin-right: 10px;
}

ul.sharedrive-file-window .imagepng li.file-column.file-title::before { content: "\f1c5"; } /*Image/PNG*/ 
ul.sharedrive-file-window .applicationpdf li.file-column.file-title::before { content: "\f1c1"; } /*PDF*/ 
ul.sharedrive-file-window .applicationx-iwork-pages-sffpages li.file-column.file-title::before { content: "\f0f6"; } /*Mac Pages*/ 
ul.sharedrive-file-window .applicationvndopenxmlformats-officedocumentwordprocessingmldocument li.file-column.file-title::before { content: "\f1c2"; } /*Docs*/ 
ul.sharedrive-file-window .applicationvndopenxmlformats-officedocumentspreadsheetmlsheet li.file-column.file-title::before { content: "\f1c3"; } /*Excel*/ 
ul.sharedrive-file-window .textplain li.file-column.file-title::before { content: "\f15c"; } /*text/plain*/ 
ul.sharedrive-file-window .sharedrive-item .file-scope { text-transform: capitalize; }
/*Directories*/

ul.sharedrive-file-window .sharedrive-item.no-files-found .file-title::before {
	content: "\f05a";
	color: #03a9f4;
	margin-top: 1.5px;
}

ul.sharedrive-file-window .sharedrive-item.directory .file-title::before {
	content: "\f114";
	color: #03a9f4;
}

ul.sharedrive-file-window .sharedrive-item.directory.directory-open .file-title::before {
	content: "\f115";
}

ul.sharedrive-file-window .sharedrive-item.directory.directory-open .file-title {}

#sharedrive-breadcrumb #breadcrumbs-wrap { padding: 5px 20px; background: #37474F; color: #B0BEC5; font-size: 12px; }
#sharedrive-breadcrumb #breadcrumbs-wrap a { color: #fff; }

#sharedrive-explainer {
    padding: 10px 20px;
    font-size: 12px;
    color: #37474F;
    background: #f5f5f5;
    margin-bottom: 0;
}

#sharedrive-pagination {
	font-size: 12px;
	margin-top: 15px;
}

#sharedrive-pagination .page-numbers {
	display: inline-block;
    padding: 2.5px 10px;
    border-radius: 2px;
    background: #ffffff;
    box-shadow: 0px 2px 10px -4px #a0a0a0;
    color: #444;
}

#sharedrive-pagination .page-numbers.current{
	color: #fff;
    background: #37474f;
}

/**
 * Navigation
 */
.content-area ul.sharedrive-actions-list,
ul.sharedrive-actions-list {
   margin: 0;
   padding: 0; 
}

ul.sharedrive-actions-list li {
    list-style: none;
    display: inline-block;
    margin-bottom: 0;
    margin-right: -4px;
}

ul.sharedrive-actions-list li a {
    display: block;
    background: #f8fbff;
    padding: 10px 20px;
    font-size: 12px;
    color: #37474f;
}

.sharedrive-actions-list-item-anchor.selected {
    color: #fff;
    background: #37474F;
}

